<div class="input_parameters">
  <%= f.simple_fields_for :output_parameters do |ff| %>
    <div class="list-group-item" data-id="<%= ff.object.id %>">
      <span style="display:inline;" class="handle">☰</span>
      <h3 style="display:inline;" >Parameter <%= ff.index + 1 %></h3>
      <%= ff.input :output_type, collection: DivaServicesApi::Algorithm.output_type_keys_with_names, disabled: true %>
      <%= f.hint ff.object.description %>
      <%= ff.simple_fields_for :fields do |fff| %>
        <%= render partial: 'fields/field', locals: { f: fff } %>
      <% end %>
    </div>
  <% end %>
</div>
