<%= simple_form_for(@algorithm) do |f| %>

  <h2>General information</h2>
  <%= f.input :name %>
  <%= f.input :namespace %>
  <%= f.input :description, as: :text %>

  <h2>Additional information</h2>
  <%= f.simple_fields_for :algorithm_info do |ff| %>
    <%= render partial: 'algorithm_infos/form', locals: { f: ff } %>
  <% end %>

  <h2>Input parameters</h2>
  <div class="input_parameters">
    <%= f.simple_fields_for :input_parameters do |fff| %>
      <%= render partial: 'input_parameter_fields', locals: { f: fff } %>
      <div class="links">
        <%= link_to_add_association 'New input parameter', f, :input_parameters %>
      </div>
    <% end %>
  </div>

  <h2>Output</h2>
  <%= f.input :output %>


  <%= f.submit 'Submit' %>
<% end %>
