<h1>Algorithms</h1>
<div class="panel panel-default panel-table">
  <div class="panel-heading">
    <div class="row">
      <div class="col col-xs-6">
      </div>
      <div class="col col-xs-6 text-right">
        <%= link_to 'New algorithm',  terms_algorithms_path, class: 'btn btn btn-primary btn-create' %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-list main-table">
      <thead>
        <tr>
          <th><em class="fa fa-cog"></em> Actions</th>
          <th>Name</th>
          <% if current_user.admin? %>
            <th>Owner</th>
          <% end %>
          <th>Used</th>
          <th>Errors</th>
          <th>Version</th>
          <th>Last update</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @algorithms.each do |algorithm| %>
          <tr>
            <td align="center"><%= actions(algorithm) %></td>
            <% if current_user.admin? %>
              <td><%= algorithm.user.email %></td>
            <% end %>
            <td><%= algorithm.name.blank? ? 'N/A' : algorithm.name %></td>
            <td><%= algorithm.execution_count %></td>
            <td><%= link_to algorithm.exceptions.count, exceptions_algorithm_path(algorithm) %></td>
            <td><%= algorithm.version %></td>
            <td><%= algorithm.updated_at.to_formatted_s(:db) %></td>
            <td><div style="text-align:center"><span class="label label-info" id="status_<%= algorithm.id %>" data-statuscode="<%= Algorithm.statuses[algorithm.status] %>"><%= pretty_status(algorithm) %></span></div><div><span id="status_message_<%= algorithm.id %>"><%= algorithm.status_message %></span></div></td>
          </tr>
          <% if !previous_versions(algorithm).empty? %>
            <tr class="versions-toggle">
              <td colspan="7">
                <button class="btn btn-sm btn-default" type="button" data-toggle="collapse" data-target="#collapse<%= algorithm.id %>" aria-expanded="false" aria-controls="collapse<%= algorithm.id %>">
                  <em class="fa fa-plus-circle"></em> Show older versions
                </button>
              </td>
            </tr>
            <tr>
              <td class="versions-panel" colspan="7">
                <div class="collapse" id="collapse<%= algorithm.id %>">
                  <table class="table table-striped">
                    <% previous_versions(algorithm).each do |older_algorithm| %>
                      <tr>
                        <td><%= older_algorithm.version %></td>
                        <td><%= older_algorithm.updated_at.to_formatted_s(:db) %></td>
                        <td><span class="label label-info"><%= older_algorithm.status %></span></td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <% if @algorithms.empty? %>
      <div style="padding: 15px;">
        <p class="bg-info">You haven't uploaded any algorithm yet. Click on 'New algorithm' to start now!</p>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col col-xs-4"></div>
      <div class="col col-xs-8">
        <%= will_paginate @algorithms, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
