<h1>Your algorithms</h1>

<%= link_to 'New algorithm', algorithm_algorithm_wizard_index_path(:create), method: :post, class: 'btn btn-default' %>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Namespace</th>
    <th>Description</th>
    <th>Input parameters</th>
    <th>Creation status</th>
    <th colspan="2">Actions</th>
  </thead>
  <% @algorithms.each do |algorithm| %>
    <tr>
      <td><%= link_to algorithm.name, algorithm_path(algorithm) %></td>
      <td><%= algorithm.namespace %></td>
      <td><%= algorithm.description %></td>
      <td><%= algorithm.input_parameters.count %> Parameter(s)</td>
      <td><%= algorithm.creation_status %></td>
      <td><%= link_to 'Delete', algorithm_path(algorithm), method: :delete %></td>
      <td><%= link_to 'Unpublish (dev-function only)', dev_unpublish_algorithm_path(algorithm), method: :post %></td>
    <tr/>
  <% end %>
</table>

<% if @algorithms.empty? %>
<div style="padding: 15px;">
  <p class="bg-info">You haven't uploaded any algorithm yet. Click on 'New algorithm' to start now!</p>
</div>
<% end %>

<% unless @unfinished_algorithms.empty? %>
  <h1>Unfinished Algorithms</h1>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Current step</th>
      <th>Actions</th>
    </thead>
    <% @unfinished_algorithms.each do |algorithm| %>
      <tr>
        <td><%= algorithm.name.blank? ? 'N/A' : algorithm.name %></td>
        <td><%= algorithm.creation_status %></td>
        <td><%= algorithm.input_parameters.count %> Parameter(s)</td>
        <td><%= link_to 'Continue', algorithm_algorithm_wizard_path(algorithm, algorithm.creation_status) %></td>
        <td><%= link_to 'Delete', algorithm_path(algorithm), method: :delete %></td>
      <tr/>
    <% end %>
  </table>
<% end %>
