<%= simple_form_for(@algorithm) do |f| %>
  <%= f.input :name %>
  <%= f.input :description, as: :text %>
  <%= f.fields_for :algorithm_info, @algorithm_info do |f1f| %>
    <%= f1f.input :author %>
  <% end %>
  <%= f.submit 'Submit' %>
<% end %>


<h2>Input parameter example</h2>
<%= simple_form_for(@input_parameter, url: algorithms_path) do |f| %>
  <%= f.simple_fields_for :fields do |ff| %>
    <%= render partial: 'fields', locals: { f: ff } %>
  <% end %>
  <%= f.submit 'Submit' %>
<% end %>
