<%= simple_form_for(@algorithm, url: algorithm_path(@algorithm, step: :parameters), method: :put) do |f| %>

  <h3>Input</h3>
  <%= render partial: 'algorithms/input_fields', locals: { f: f } %>

  <h3>Output</h3>
  <%= render partial: 'algorithms/output_fields', locals: { f: f } %>

  <%= link_to 'Cancel', algorithms_path, class: 'btn btn-default' %>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
  function update_infotext(select) {
    var descriptions = <%= raw(DivaServicesApi::Algorithm.input_type_descriptions.to_json) %>;
    var description = '';
    if (descriptions[select.value] != null) {
      description = descriptions[select.value];
    }
    $(select).parent().parent().parent().find('.help-block').text(description);
  }
</script>
