<h1><%= @algorithm.name %></h1>

<h2>Schema</h2>
<pre><%= @algorithm.to_schema %></pre>

<h2>General</h2>
<table class="table">
  <tr>
    <td>Name</td>
    <td><%= @algorithm.name %></td>
  </tr>
  <tr>
    <td>Namespace</td>
    <td><%= @algorithm.namespace %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= @algorithm.description %></td>
  </tr>
</table>

<h2>Additional Information</h2>
<table class="table">
  <% @algorithm.fields.each do |field| %>
    <tr>
      <td><%= field.name %></td>
      <td><%= field.value %></td>
    </tr>
  <% end %>
</table>

<div class="row">
<h2>Input</h2>
<ol>
<% @algorithm.input_parameters.each do |input_parameter| %>
  <div class="col-md-12">
    <li><h4><%= input_parameter.input_type.to_s %></h4></li>
    <p class="help-block"><%= input_parameter.description %></p>
    <% unless input_parameter.fields.empty? %>
      <table class="table">
        <thead>
          <th style="width: 35%">Field</th>
          <th style="width: 15%">Type</th>
          <th style="width: 50%">Value</th>
        </thead>
      <% input_parameter.all_fields.each do |field| %>
        <% unless field.type == 'ObjectField' %>
          <tr>
            <td><%= field.name %> <br/> <p class="help-block"><%= field.infoText %></p></td>
            <td><span class="label label-primary"><%= field.object_type %></span></td>
            <td><%= field.value.blank? ? '-' : field.value %></td>
          </tr>
        <% end %>
      <% end %>
      </table>
    <% end %>
  </div>
<% end %>
</ol>
</div>

<h2>Output</h2>
<table class="table">
    <tr>
      <td><%= @algorithm.output %></td>
    </tr>
</table>

<h2>Upload</h2>
<table class="table">
    <tr>
      <td>Language</td>
      <td><%= @algorithm.language %></td>
    </tr>
    <tr>
      <td>File</td>
      <td><%= link_to 'Download', @algorithm.zip_file.url %></td>
    </tr>
</table>
