<h1><%= @algorithm.name %></h1>

<h2>Schema</h2>
<pre><%= @algorithm.to_schema %></pre>

<h2>General</h2>
<table class="table">
  <tr>
    <td>Name</td>
    <td><%= @algorithm.name %></td>
  </tr>
  <tr>
    <td>Namespace</td>
    <td><%= @algorithm.namespace %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= @algorithm.description %></td>
  </tr>
</table>

<h2>Additional Information</h2>
<table class="table">
  <% @algorithm.fields.each do |field| %>
    <tr>
      <td><%= field.name %></td>
      <td><%= field.value %></td>
    </tr>
  <% end %>
</table>

<h2>Input</h2>
<% @algorithm.input_parameters.each do |input_parameter| %>
  <h4><i class="fa fa-arrow-right"></i> <%= input_parameter.input_type.to_s %></h4>
  <% unless input_parameter.fields.empty? %>
    <table class="table">
      <thead>
        <th style="width: 40%">Field</th>
        <th style="width: 60%">Value</th>
      </thead>
    <% input_parameter.all_fields.each do |field| %>
      <% unless field.type == 'ObjectField' %>
        <tr>
          <td><%= field.name %> <span class="label label-primary"><%= field.object_type %></span></td>
          <td><%= field.value.blank? ? '-' : field.value %></td>
        </tr>
      <% end %>
    <% end %>
    </table>
  <% end %>
<% end %>

<h2>Output</h2>
<table class="table">
    <tr>
      <td><%= @algorithm.output %></td>
    </tr>
</table>

<h2>Upload</h2>
<table class="table">
    <tr>
      <td>Language</td>
      <td><%= @algorithm.language %></td>
    </tr>
    <tr>
      <td>File</td>
      <td><%= @algorithm.zip_file %></td>
    </tr>
</table>
