<h1>Algorithm Details</h1>

<h2>Schema</h2>
<pre><%= @algorithm.to_schema %></pre>

<h3>General Information</h3>
<table class="table table-striped table-bordered">
  <% @algorithm.general_fields.each do |field| %>
    <tr>
      <td style="width: 30%"><%= field.name %></td>
      <td style="width: 70%"><%= humanize_value(field) %></td>
    </tr>
  <% end %>
</table>
<div class="col-md-12 edit-button">
  <div class="pull-right">
    <%= link_to 'Edit general information', edit_algorithm_path(@algorithm, step: :informations), class: 'btn btn-default' %>
  </div>
</div>

<div class="row">
  <h3>Input Information</h3>
  <ol>
    <% @algorithm.input_parameters.each do |input_parameter| %>
    <div class="col-md-12">
      <li class="input_parameter"><h4><%= input_parameter.name %></h4></li>
      <p class="help-block"><%= input_parameter.description %></p>
        <% unless input_parameter.fields.empty? %>
        <table class="table table-striped table-bordered">
          <thead>
            <th style="width: 35%">Field</th>
            <th style="width: 15%">Type</th>
            <th style="width: 50%">Value</th>
          </thead>
          <% input_parameter.all_fields.each do |field| %>
            <% unless field.type == 'ObjectField' %>
              <tr>
                <td><%= field.name %> <br/> <p class="help-block"><%= field.infoText %></p></td>
                <td><span class="label label-primary"><%= field.object_type %></span></td>
                <td><%= field.value.blank? ? '-' : humanize_value(field) %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
        <% end %>
    </div>
    <% end %>
  </ol>
</div>
<div class="col-md-12 edit-button">
  <div class="pull-right">
    <%= link_to 'Edit input details', edit_algorithm_path(@algorithm, step: :parameters_details), class: 'btn btn-default' %>
  </div>
  <div class="pull-right">
    <%= link_to 'Edit input information', edit_algorithm_path(@algorithm, step: :parameters), class: 'btn btn-default' %>
  </div>
</div>

<h3>Method Information</h3>
<table class="table table-striped table-bordered">
  <% @algorithm.method_fields.each do |field| %>
    <tr>
      <td style="width: 30%"><%= field.name %></td>
      <td style="width: 70"><%= humanize_value(field) %></td>
    </tr>
  <% end %>
    <tr>
      <td>File</td>
      <td><%= "#{@algorithm.zip_file.file.content_type} - #{number_to_human_size(File.size(@algorithm.zip_file.file.file).to_f)}" %></td>
    </tr>
</table>
<div class="col-md-12 edit-button">
  <div class="pull-right">
    <%= link_to 'Edit method information', edit_algorithm_path(@algorithm, step: :upload), class: 'btn btn-default' %>
  </div>
</div>

<%= link_to 'Back', algorithms_path, class: 'btn btn-default' %>
<%= link_to 'Publish update', publish_algorithm_path(@algorithm), class: 'btn btn-primary', method: :post, data: { confirm: 'Are you sure?' } %>
