<h1><%= @algorithm.name %></h1>

<table>
  <thead>
    <th>Position</th>
    <th>Type</th>
    <th>Name</th>
  </thead>
  <% @algorithm.input_parameters.each_with_index do |input_parameter, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= input_parameter.input_type %></td>
      <td></td>
    </tr>
    <% input_parameter.all_fields.each do |field| %>
      <% unless field.type == 'ObjectField' %>
        <tr>
          <td><%= field.object_type %></td>
          <td><%= field.name %></td>
          <td><%= field.value %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
