<% if f.object.type == 'ObjectField' %>
  <h4><%= f.object.name.capitalize %></h4>
  <%= f.simple_fields_for :fields do |ff| %>
    <%= render partial: 'field', locals: { f: ff } %>
  <% end %>
<% else %>
  <% unless f.object.type == 'EnumField' %>
    <%= f.input :value,
      as: f.object.object_type,
      label: f.object.name.capitalize,
      placeholder: '',
      required: (f.object.object_type == 'boolean' ? false : f.object.required) %>
    <%= f.hint f.object.infoText unless f.object.infoText.nil? %>
  <% else %>
    <%= f.input :value,
      as: f.object.object_type,
      label: f.object.name.capitalize,
      collection: f.object.values,
      required: (f.object.object_type == 'boolean' ? false : f.object.required) %>
    <%= f.hint f.object.infoText unless f.object.infoText.nil? %>
  <% end %>
<% end %>
