<h1>Algorithm Wizard - Step 1/7</h1>
<%= progress_bar(1) %>

<h2>General Information</h2>

<p>Thanks for your interest in contributing to the D<span class="small-caps">iva</span>Services.
  <br/>
  This wizard will guide you through the process of uploading and integrating your own algorithm into the D<span class="small-caps">iva</span>Services. In a first instance, please fill out the required forms below:
</p>

<%= simple_form_for(@algorithm, url: wizard_path, method: :put) do |f| %>
  <hr>
  <%= render partial: 'algorithms/general_fields', locals: { f: f } %>
  <hr>
  <br/>
  <%= link_to 'Cancel', algorithms_path, class: 'btn btn-default' %>
  <%= f.submit 'Next', class: 'btn btn-primary' %>
<% end %>
