<h1>Algorithm Wizard - Step 3/5</h1>
<%= progress_bar(3) %>

<h2>Input details</h2>

<p>Please configure each previously selected input parameter. Unrequired fields can be left out:</p>

<%= simple_form_for(@algorithm, url: wizard_path, method: :put) do |f| %>

  <%= f.simple_fields_for :input_parameters do |ff| %>
    <h3>Parameter <%= ff.index + 1 %></h3>
    <%= ff.input :input_type, collection: DivaServiceApi.available_input_types, disabled: true %>
    <%= f.hint ff.object.description %>
    <%= ff.simple_fields_for :fields do |fff| %>
      <%= render partial: 'field', locals: { f: fff } %>
    <% end %>
    <hr/>
  <% end %>

  <%= link_to 'Back', previous_wizard_path, class: 'btn btn-default' %>
  <%= link_to 'Cancel', algorithms_path, class: 'btn btn-default' %>
  <%= f.submit 'Next', class: 'btn btn-primary' %>
<% end %>
