<h1>Algorithm Wizard - Step 2/7</h1>
<%= progress_bar(2) %>

<h2>Input/Output information</h2>

<p>To make sure that your algorithm will run correctly please select all necessary input parameters.
  The topmost parameter will be used as the first and the bottommost used as the last input parameter when running your algorithm.<br/>
  Once you have selected all parameter, you can define further details in the next step.
</p>

<%= simple_form_for(@algorithm, url: wizard_path, method: :put) do |f| %>
  <div class="inputs_wrapper">
    <hr style="margin-bottom: 0;">
    <div class="inputs_left">
      <h3>Input</h3>
      <%= render partial: 'algorithms/input_fields', locals: { f: f } %>
    </div>
    <div class="inputs_right">
      <h3>Available Input types</h3>
      <div class="well">
        <% DivaServicesApi::Algorithm.list_input_types.each do |input_type| %>
          <h4><%= input_type[:name] %></h4>
          <p><%= input_type[:hint] %></p>
        <% end %>
      </div>
    </div>
  </div>
  <p style="clear: both;"></p>
  <hr>
  <br/>
  <%= link_to 'Back', previous_wizard_path, class: 'btn btn-default' %>
  <%= link_to 'Cancel', algorithms_path, class: 'btn btn-default' %>
  <%= f.submit 'Next', class: 'btn btn-primary' %>
<% end %>
