<h1>Algorithm Wizard - Step 2/5</h1>
<%= progress_bar(2) %>

<h2>Information</h2>

<p>Please select the necessary input and output parameters to run your algorithm. Note that the order of the input parameter matters, the most top one is the first parameter used in the execution query. Further details of the parameters can be set in the next step:</p>

<%= simple_form_for(@algorithm, url: wizard_path, method: :put) do |f| %>

  <h3>Input</h3>
  <div class="input_parameters">
    <%= f.simple_fields_for :input_parameters do |ff| %>
      <%= render partial: 'input_parameter_fields', locals: { f: ff } %>
    <% end %>
    <div class="links">
      <%= link_to_add_association '<i class="fa fa-plus"></i> New input parameter'.html_safe, f, :input_parameters, class: 'btn btn-default' %>
    </div>
  </div>


  <h3>Output</h3>
  <%= f.input :output, collection: DivaServiceApi.available_output_types %>
  <%= f.hint 'Type of the output' %>

  <%= link_to 'Back', previous_wizard_path, class: 'btn btn-default' %>
  <%= link_to 'Cancel', algorithms_path, class: 'btn btn-default' %>
  <%= f.submit 'Next', class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
  function update_infotext(select) {
    var descriptions = <%= raw(DivaServiceApi.input_type_descriptions.to_json) %>;
    var description = '';
    if (descriptions[select.value] != null) {
      description = descriptions[select.value];
    }
    $(select).parent().parent().parent().find('.help-block').text(description);
  }
</script>
