<h1>Algorithm Wizard - Step 3/5</h1>
<%= progress_bar(3) %>

<h2>Input details</h2>

<p>Please configure each previously selected input parameter. Unrequired fields can be left out:</p>

<%= simple_form_for(@algorithm, url: wizard_path, method: :put) do |f| %>

  <div class="input_parameters">
    <%= f.simple_fields_for :input_parameters do |ff| %>
      <div class="list-group-item" data-id="<%= ff.object.id %>">
        <span style="display:inline;" class="handle">☰</span>
        <h3 style="display:inline;" >Parameter <%= ff.index + 1 %></h3>
        <%= ff.input :input_type, collection: DivaServiceApi.input_type_keys, disabled: true %>
        <%= f.hint ff.object.description %>
        <%= ff.simple_fields_for :fields do |fff| %>
          <%= render partial: 'field', locals: { f: fff } %>
        <% end %>
      </div>
    <% end %>
  </div>

  </br>
  <%= link_to 'Back', previous_wizard_path, class: 'btn btn-default' %>
  <%= link_to 'Cancel', algorithms_path, class: 'btn btn-default' %>
  <%= f.submit 'Next', class: 'btn btn-primary' %>
<% end %>
