<h1>Algorithm Wizard - Step 5/5</h1>
<%= progress_bar(5) %>

<h2>Review</h2>

<p>Review before publishing</p>

<h3>General</h3>
<table class="table">
  <tr>
    <td>Name</td>
    <td><%= @algorithm.name %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= @algorithm.description %></td>
  </tr>
</table>

<h3>Additional Information</h3>
<table class="table">
  <% @algorithm.fields.each do |field| %>
    <tr>
      <td><%= field.name %></td>
      <td><%= field.value %></td>
    </tr>
  <% end %>
</table>
<div class="row pull-right">
  <%= link_to 'Edit algorithm informations', wizard_path(:informations), class: 'btn btn-default' %>
</div>

<div class="row">
<h3>Input</h3>
<ol>
<% @algorithm.input_parameters.each do |input_parameter| %>
  <div class="col-md-12">
    <li><h4><%= input_parameter.input_type.to_s %></h4></li>
    <p class="help-block"><%= input_parameter.description %></p>
    <% unless input_parameter.fields.empty? %>
      <table class="table">
        <thead>
          <th style="width: 35%">Field</th>
          <th style="width: 15%">Type</th>
          <th style="width: 50%">Value</th>
        </thead>
      <% input_parameter.all_fields.each do |field| %>
        <% unless field.type == 'ObjectField' %>
          <tr>
            <td><%= field.name %> <br/> <p class="help-block"><%= field.infoText %></p></td>
            <td><span class="label label-primary"><%= field.object_type %></span></td>
            <td><%= field.value.blank? ? '-' : field.value %></td>
          </tr>
        <% end %>
      <% end %>
      </table>
    <% end %>
  </div>
<% end %>
</ol>
</div>
<div class="col-md-12">
  <div class="pull-right">
    <%= link_to 'Edit input parameters', wizard_path(:parameters), class: 'btn btn-default' %>
  </div>
</div>

<h3>Output</h3>
<table class="table">
    <tr>
      <td><%= @algorithm.output %></td>
    </tr>
</table>
<div class="col-md-12">
  <div class="pull-right">
    <%= link_to 'Edit output', wizard_path(:parameters), class: 'btn btn-default' %>
  </div>
</div>

<h3>Upload</h3>
<table class="table">
    <tr>
      <td>File</td>
      <td><%= @algorithm.zip_file %></td>
    </tr>
    <tr>
      <td>Executable path</td>
      <td><%= @algorithm.executable_path %></td>
    </tr>
    <tr>
      <td>Language</td>
      <td><%= @algorithm.language %></td>
    </tr>
    <tr>
      <td>Environment</td>
      <td><%= @algorithm.environment %></td>
    </tr>
</table>
<div class="col-md-12">
  <div class="pull-right">
    <%= link_to 'Edit upload', wizard_path(:upload), class: 'btn btn-default' %>
  </div>
</div>


<%= link_to 'Back', previous_wizard_path, class: 'btn btn-default' %>
<%= link_to 'Cancel', algorithms_path, class: 'btn btn-default' %>
<%= link_to 'Publish', next_wizard_path, class: 'btn btn-primary' %>
