<h1>Algorithm Wizard - Step 4/5</h1>
<%= progress_bar(4) %>

<h2>Algorithm</h2>

<p>Please upload your algorithm</p>

<%= simple_form_for(@algorithm, url: wizard_path, method: :put) do |f| %>
  <%= f.input :zip_file %>
  <%= f.hint 'zip/rar/7z file containing the executables as well as all necessary dependencies' %>
  <%= f.input :executable_path %>
  <%= f.hint 'Path of the executable file in the provided zip file. (e.g. "bin/main.jar")' %>
  <%= f.input :language, collection: DivaServiceApi.available_languages %>
  <%= f.hint 'Language necessary to execute the provided algorithm' %>

  <%= link_to 'Back', previous_wizard_path, class: 'btn btn-default' %>
  <%= link_to 'Cancel', algorithms_path, class: 'btn btn-default' %>
  <%= f.submit 'Next', class: 'btn btn-primary' %>
<% end %>
