<!DOCTYPE html>
<html>
<head>
  <title>DivaAlgorithm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<div class="container">
  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li><%= link_to 'Home', algorithms_path %></li>
        <% if current_user %>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
    <h3><%= link_to(image_tag('diva_logo.png'), algorithms_path) %> DIVA Algorithm</h3>
    <hr/>
  </div>
  <div class="row">
    <%= flash_messages %>
  </div>
  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    <hr/>
    <p class="text-muted">DIVA Algorithm © DIVA Group, University of Fribourg, Switzerland</p>
  </div>
</footer>

</body>
</html>
